
<div class="<?php echo $this->class; ?> ce_table listing block"<?php echo $this->cssID; ?><?php if ($this->style): ?> style="<?php echo $this->style; ?>"<?php endif; ?>>
<?php if ($this->headline): ?>
<<?php echo $this->hl; ?>><?php echo $this->headline; ?></<?php echo $this->hl; ?>>
<?php endif; ?>

<?php if ($this->searchable): ?>
<!-- indexer::stop -->
<div class="list_search">
<form action="<?php echo $this->action; ?>" method="get">
<div class="formbody">
<input type="hidden" name="order_by" value="<?php echo $this->order_by; ?>" />
<input type="hidden" name="sort" value="<?php echo $this->sort; ?>" />
<input type="hidden" name="per_page" value="<?php echo $this->per_page; ?>" />

<?php if ($this->search_form_type == 'dropdown'): ?>
<select name="search" class="select">
<?php echo $this->search_fields; ?>
</select>
<input type="text" name="for" class="text" value="<?php echo $this->for; ?>" />
<input type="submit" class="submit" value="<?php echo $this->search_label; ?>" />
<?php endif; ?>

<?php if ($this->search_form_type == 'singlefield'): ?>
<input type="hidden" name="search" value="<?php echo $this->search_fields; ?>" />
<input type="text" name="for" class="text" value="<?php echo $this->for; ?>" />
<input type="submit" class="submit" value="<?php echo $this->search_label; ?>" />
<?php endif; ?>

<?php if ($this->search_form_type == 'multiplefields'): ?>
<input type="hidden" name="search" value="<?php echo $this->search_fields; ?>" />
<?php foreach ($this->search_searchfields as $field): ?>
<div class="search_field <?php echo $field['name']; ?>">
<label for="search_for_<?php echo $field['name']; ?>"><?php echo $field['label']; ?></label>
<input type="text" id="search_for_<?php echo $field['name']; ?>" name="for[<?php echo $field['name']; ?>]" class="text" value="<?php echo $this->for[$field['name']]; ?>" />
</div>
<?php endforeach; ?>
<input type="submit" class="submit" value="<?php echo $this->search_label; ?>" />
<?php endif; ?>

</div>
</form>
</div>
<!-- indexer::continue -->
<?php endif; ?>

<?php if ($this->list_perPage): ?>
<!-- indexer::stop -->
<div class="list_per_page">
<form action="<?php echo $this->action; ?>" method="get">
<div class="formbody">
<input type="hidden" name="order_by" value="<?php echo $this->order_by; ?>" />
<input type="hidden" name="sort" value="<?php echo $this->sort; ?>" />
<input type="hidden" name="search" value="<?php echo $this->search; ?>" />
<input type="hidden" name="for" value="<?php echo $this->for; ?>" />
<select name="per_page" class="select">
<?php if ($this->list_perPage && $this->list_perPage != 10): ?>
  <option value="<?php echo $this->list_perPage; ?>"<?php if ($this->per_page == $this->list_perPage): ?> selected="selected"<?php endif; ?>><?php echo $this->list_perPage; ?></option>
<?php endif; ?>
  <option value="10"<?php if ($this->per_page == 10): ?> selected="selected"<?php endif; ?>>10</option>
  <option value="20"<?php if ($this->per_page == 20): ?> selected="selected"<?php endif; ?>>20</option>
  <option value="50"<?php if ($this->per_page == 50): ?> selected="selected"<?php endif; ?>>50</option>
  <option value="100"<?php if ($this->per_page == 100): ?> selected="selected"<?php endif; ?>>100</option>
  <option value="250"<?php if ($this->per_page == 250): ?> selected="selected"<?php endif; ?>>250</option>
  <option value="500"<?php if ($this->per_page == 500): ?> selected="selected"<?php endif; ?>>500</option>
</select>
<input type="submit" class="submit" value="<?php echo $this->per_page_label; ?>" />
</div>
</form>
</div>
<!-- indexer::continue -->
<?php endif; ?>

<?php if ($this->exportable): ?>
<!-- indexer::stop -->
<div class="list_export">
<form action="<?php echo $this->action; ?>" method="get">
<div class="formbody">
<input type="hidden" name="order_by" value="<?php echo $this->order_by; ?>" />
<input type="hidden" name="sort" value="<?php echo $this->sort; ?>" />
<input type="hidden" name="search" value="<?php echo $this->search; ?>" />
<input type="hidden" name="for" value="<?php echo $this->for; ?>" />
<input type="hidden" name="per_page" value="<?php echo $this->per_page; ?>" />
<input type="hidden" name="act" value="export" />
<input type="submit" class="submit" value="<?php echo $this->textlink_export[0]; ?>" />
</div>
</form>
</div>
<!-- indexer::continue -->
<?php endif; ?>

<div class="list_totalnumber"><?php echo $this->totalNumberOfItems['content']; ?></div>

<table cellpadding="2" cellspacing="0" border="0" class="all_records" summary="">
<!-- indexer::stop -->
<thead>
  <tr>
<?php foreach ($this->thead as $col): ?>
    <th class="head<?php echo $col['class']; ?>"><a href="<?php echo $col['href']; ?>" title="<?php echo $col['title']; ?>"><?php echo $col['link']; ?></a></th>
<?php endforeach; if ($this->details || $this->editable || $this->deletable || $this->exportable): ?>
    <th class="head col_last">&nbsp;</th>
<?php endif; ?>
  </tr>
</thead>
<!-- indexer::continue -->
<tbody>
<?php foreach ($this->tbody as $class=>$row): ?>
  <tr class="<?php echo $class; ?>">
<?php foreach ($row as $col): ?>
    <td class="body <?php echo $col['class']; ?>">
<?php if ($col['type']=='file' && $col['multiple']): ?><?php foreach ($col['content'] as $file): ?><?php if ($file['display']=='image'): ?><img src="<?php echo TL_FILES_URL . \Image::get($file['src'], 80, null); ?>" alt="<?php echo urldecode(basename($file['src'])); ?>" title="<?php echo urldecode(basename($file['src'])); ?>" /><?php else: ?><img src="<?php echo $file['icon']; ?>" alt="<?php echo $file['linkTitle']; ?>" />&nbsp;<a href="<?php echo $file['href']; ?>"><?php echo $file['linkTitle'] . $file['size']; ?></a><?php endif; ?><br /><?php endforeach; ?>
<?php elseif ($col['type']=='file' && $col['src']): ?><?php if ($col['display']=='image'): ?><img src="<?php echo TL_FILES_URL . \Image::get($col['src'], 80, null); ?>" alt="<?php echo urldecode(basename($col['src'])); ?>" title="<?php echo urldecode(basename($col['src'])); ?>" /><?php else: ?><img src="<?php echo $col['icon']; ?>" alt="<?php echo $col['linkTitle']; ?>" />&nbsp;<a href="<?php echo $col['href']; ?>"><?php echo $col['linkTitle'] . $col['size']; ?></a><?php endif; ?>
<?php else: echo $col['content']; endif;?></td>
<?php endforeach; ?>
<?php if ($this->details || $this->editable || $this->deletable || $this->exportable): ?>
<!-- indexer::stop -->
    <td class="body <?php echo $this->col_last; ?> col_last"><?php if($this->details):?>&nbsp;<a href="<?php echo $col['link_details']; ?>" title="<?php echo $this->textlink_details[1]; ?>"><img src="<?php echo $this->iconFolder; ?>/details.gif" alt="<?php echo $this->textlink_details[1]; ?>" title="<?php echo $this->textlink_details[1]; ?>"/></a><?php endif; ?><?php if ($this->arrEditAllowed[$col['id']]): ?>&nbsp;<a href="<?php echo $col['link_edit']; ?>" title="<?php echo $this->textlink_edit[1]; ?>"><img src="<?php echo $this->iconFolder; ?>/edit.gif" alt="<?php echo $this->textlink_edit[1]; ?>" title="<?php echo $this->textlink_edit[1]; ?>"/></a><?php endif; ?><?php if ($this->arrDeleteAllowed[$col['id']]): ?>&nbsp;<a href="<?php echo $col['link_delete']; ?>" onclick="if (!confirm('<?php echo $this->text_confirmDelete; ?>')) return false;" title="<?php echo $this->textlink_delete[1]; ?>"><img src="<?php echo $this->iconFolder; ?>/delete.gif" alt="<?php echo $this->textlink_delete[1]; ?>" title="<?php echo $this->textlink_delete[1]; ?>"/></a><?php endif; ?><?php if ($this->arrExportAllowed[$col['id']]): ?>&nbsp;<a href="<?php echo $col['link_export']; ?>" title="<?php echo $this->textlink_export[1]; ?>"><img src="<?php echo $this->iconFolder; ?>/exportCSV.gif" alt="<?php echo $this->textlink_export[1]; ?>" title="<?php echo $this->textlink_export[1]; ?>"/></a>&nbsp;<?php endif; ?></td>
<!-- indexer::continue -->
<?php endif; ?>
  </tr>
<?php endforeach; ?>
</tbody>
</table>

<?php echo $this->pagination; ?>

</div>
